@import "tailwindcss";

@layer utilities {
  .bullet-custom ::marker {
    color: #306ee8; /* Custom color */
  }
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black;
  overflow-x: hidden;
}
